body, html, .container, #wrapper, #page-content-wrapper {
  height: 100%;
  width: 100%; }

.container {
  padding: 0; }

.map {
  height: 100%; }

body {
  overflow-x: hidden; }

.navbar {
  margin-bottom: 0; }

.navbar-brand {
  padding-left: 22px; }

input {
  margin: 15px 0;
  color: #333;
  border-color: #ccc;
  border: none;
  padding: 5px;
  width: 100%; }

li {
  padding: 5px;
  /* text-transform: uppercase; */
  font-size: 10px; }

.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -300px;
  top: 52px;
  left: -300px;
  width: 300px;
  background-color: #333;
  color: whitesmoke;
  position: fixed;
  height: 100%;
  z-index: 1;
  padding: 7px; }

img {
  max-width: 38px; }

.sidebar-toggle a {
  color: whitesmoke; }

/* Media queries */
@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 300px; } }
